In [2]:
import pandas as pd

# Dados das preferências de transporte
transporte = [
    "Carro", "Ônibus", "Bicicleta", "Carro", "Metrô", "Ônibus", 
    "Bicicleta", "Carro", "Metrô", "Bicicleta", "Carro", "Ônibus", 
    "Bicicleta", "Carro", "Metrô", "Carro", "Ônibus", "Bicicleta", 
    "Carro", "Metrô", "Ônibus", "Bicicleta", "Metrô", "Carro",
    "Bicicleta", "Carro", "Metrô", "Ônibus", "Carro", "Bicicleta",
    "Metrô", "Ônibus", "Carro", "Bicicleta", "Ônibus", "Metrô",
    "Carro", "Ônibus", "Metrô", "Bicicleta", "Carro", "Metrô",
    "Bicicleta", "Ônibus", "Carro", "Metrô", "Ônibus", "Bicicleta"
]

In [3]:
# Transformando em um DataFrame
dados = pd.DataFrame(transporte, columns=['Meio_Transporte'])

In [4]:
dados.head()

  Meio_Transporte
0           Carro
1          Ônibus
2       Bicicleta
3           Carro
4           Metrô

In [ ]:
tabela_freq = (
    dados.groupby['Meio_Transpote')
    .size()
    .reset_index(name='Fi')
)

KeyError: 'Meio_Transpote'